<link rel="stylesheet" href="css/www_slide.css" />

<div class="slide slide--www">
  <div class="slide--www__question">
    <div class="slide__time-spot"></div>
    <div class="slide--www__question__question"></div>
    <div class="slide--www__question__answer word--accent"></div>
  </div>
  <div class="slide--www__table">
    <table border='0' cellpadding='0' cellspacing='10'>
      <tr class="science">
        <td class="head">Наука</td>
        <td>10</td>
        <td>20</td>
        <td>30</td>
        <td>40</td>
        <td>50</td>
      </tr>
      <tr class="Ag">
        <td class="head">АГ</td>
        <td>10</td>
        <td>20</td>
        <td>30</td>
        <td>40</td>
        <td>50</td>
      </tr>
      <tr class="art">
        <td class="head">Исскуство</td>
        <td>10</td>
        <td>20</td>
        <td>30</td>
        <td>40</td>
        <td>50</td>
      </tr>

      <tr class="cat">
        <td class="head">Разное</td>
        <td>10</td>
        <td>20</td>
        <td>30</td>
        <td>40</td>
        <td>50</td>
      </tr>
    </table>
  </div>
</div>
